* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  overflow: hidden;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}

body::before {
  content: url("images/balls.svg");
  position: absolute;
  right: 0;
  bottom: 0;
}

#hero {
  margin: 0 auto;
  text-align: center;
  width: 59.2rem;
}

#hero img {
  width: 34.8rem;
}

#hero h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 4.9rem;

  margin-top: 7.2rem;
}

#hero h1 span {
  font-weight: 700;
}

#hero span {
  color: #ff9900;
}

#hero p {
  color: #7d7987;
  line-height: 2.8rem;

  margin-top: 3.2rem;
}

#footer {
  margin: 0 auto;
  margin-top: 7.2rem;
  text-align: center;
}

#footer .line {
  border: 0.1rem solid #eceff2;
  width: 80%;
  max-width: 56.8rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

#footer a {
  color: #ff9900;
  padding: 0 1rem;
}
